.nav-config {
  background-color: #0099c4;
  display: flex;
  justify-content: space-between;
}

.title-app {
  font-size: 30px;
  padding: 10px;
  color: white;
}

.title-app span {
  font-weight: 800;
}

.logo {
  padding: 15px;
  width: 80%;
}

.input-size {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.input-size .mb-3 {
  width: 80%;
}

.button-config {
  font-weight: bold;
}

.todo-or-done {
  color: #1e2f46;
  font-weight: 800;
}

.list {
  background-color: white;
  opacity: 0,6;
}

.item {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

input[type=checkbox] {
  margin: 7px;
  transform: scale(1.5);
}

.done {
  text-decoration: line-through;
}

.icon {
  margin: 0px 5px;
  font-size: 18px;
}

.clickable {
  cursor: pointer;
}

.color-button {
  background-color: #0099c4;
}

.color-button:hover {
  background-color: #1e2f46;
}